li{
	list-style-type: none
}

#account_management_sidebar {
	display: inline-block;
	/*width: 25%;*/
	/*border: 1px solid #000;*/
}

#account_management_display_container {
	/*display: inline-block;*/
	/*width: 50%;
	border: 1px solid #000;*/
}

/*#email_dashboard_container {
	display: block;
}*/

#main_dashboard_container {
	display: block;
}

#email_dashboard_container {
	display: none;
}

#account_management_container {
	display: none;
}

#welcome_uname {
	
	padding-top: 35px;
	font-family: 'Comfortaa', Arial;
	font-size: 35px;
}

#main_logo {
	
	padding-top: 65px;
}

body
{
	background-color: #E8E8E8;
}

/* This is some custom styling on the nav bar that is applied */

/* the whole navigation bar color*/
.navbar-default {
    background-color: #3399CC;
    border-color: #33CCFF;
}

/* the whole navigation bar size and font*/
.navbar , .navbar-brand
{
	font-family: 'Comfortaa', Arial;
	font-size: 20px;
}

.navbar-brand
{
	font-family: 'Comfortaa', Arial;
	font-size: 25px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

/* the title*/
.navbar-default .navbar-brand {
    color: #000000;
}

/* the links*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

/* end of custom styling on navigation bar*/

#manageButton{
	width:70px;

}

#signupForm{
	/*width: */
}

.passwordResetContainer .status {
	color: #339933;
	display: block;
    font-size: 1.5em;
    font-weight: bold;
}